.stories-container {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    margin: 0 auto;
    max-width: 640px;
    height: 164px;
    padding: 28px;
}

.name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;

    color: #121212;
}